/* You can add global styles to this file, and also import other style files */
.btn-orange{
    background-color: #fa5717;
    color: white;
}
.bg-orange{
    color: #fa5717;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
